@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import 'utils/colors';
@import 'utils/button';
@import 'utils/footer';

* {
    font-family: "Roboto", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    min-width: 320px;
    margin: auto;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: linear-gradient(to top, $primary, $secondary);;
    animation: slideUp 1.5s ease forwards 1.5s;

    @keyframes slideUp {
        to {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
  
    i {
      font-size: 100px;
      animation: rotate 1.3s infinite linear;
    }

    @keyframes rotate {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
  
header {
    text-align: center;
    
    .logo {
        margin-top: 20px;
        margin-bottom: 10px;

        @media screen and (min-width: 1024px) {
            margin-top: 22px;
            margin-bottom: 20px;
        }
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: $middle-grey;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 1);
        width: 100%;
        height: 55px;
        font-weight: bold;
        align-content: center;

        @media screen and (min-width: 1024px) {
            box-shadow: none;
        }
    }
}

.discover {
    text-align: center;
    background-color: $clear-grey;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.16);
    padding-top: 30px;
    padding-bottom: 70px;

    @media screen and (min-width: 1024px) {
        box-shadow: none;
    }

    h1 {
        font-size: 35px;
        margin: auto;
        margin-bottom: 35px;
    }

    p {
        font-size: 20px;
        margin: auto;
        margin-bottom: 30px;
    }
    
    button {
        @include button;
        width: 55%;
        margin-top: 5px;

        @media screen and (min-width: 1024px) {
            width: 22%;   
        }
    }
}

.function {
    width: 92%;
    margin: auto;
    margin-top: 40px;

    @media screen and (min-width: 1024px) {
        width: 80%;    
    }

    .choose {
        list-style: none;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 80px;

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
        }

        li {
            display: flex;
            align-items: center;
            background-color: $clear-grey;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            width: 99%;
            height: 72px;
            margin: auto;
            margin-bottom: 35px;
            border-radius: 20px;

            @media screen and (min-width: 1024px) {
                width: 30%;
                margin: 0;
            }

            .bubble {
                position: relative;
                left: -10px;
                background-color: $primary;
                color: $white;
                border-radius: 10px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            i {
                position: relative;
                left: 8%;

                @media screen and (min-width: 1024px) {
                    left: 5%;
                }
            }

            p {
                position: relative;
                left: 17%;

                @media screen and (min-width: 1024px) {
                    left: 12%;
                }
            }

            &:nth-child(-n+2) i {
                color: $dark-grey;
            }

            &:last-child i {
                color: $primary;
            }        
        }
    }
}

.restaurants {
    background-color: $clear-grey;
    padding: 70px 0 80px 0;

    &__wrapper {
        width: 92%;
        margin: auto;

        @media screen and (min-width: 1024px) {
            width: 80%;
        }

        h2 {
            margin-bottom: 30px;
        }    

        @media screen and (min-width: 1024px) {
            .card_line  {
                display: flex;
                justify-content: space-between;
                margin: auto;
                margin-bottom: 20px;
            }                  
        }

        .card {
            position: relative;
            background-color: $white;
            border-radius: 20px;
            margin-bottom: 20px;   

            @media screen and (min-width: 1024px) {
                width: 46%;                
            }

            a {
                text-decoration: none;
                color: inherit;

                img {
                    width: 100%;
                    height: 231px;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }

                .new {
                    position: absolute;
                    right: 4vh;
                    top: 5vh;
                    color: $dark-green;
                    background-color: $tertiary;
                    padding: 10px;
                    border-radius: 3px;
                }

                .restaurant_desc {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;

                    .restaurant_name {
                        margin-bottom: 20px;

                        h3 {
                            margin-top: 10px;
                            margin-bottom: 8px;
                        }
                    }

                    .heart {
                        background-image: url("../images/icons/Like-empty.svg");
                        height: 25px;
                        width: 25px;
                        margin-top: 20px;
                        transition: background-image 0.3s ease-in-out;

                        &:hover {
                            background-image: url("../images/icons/Like-colored.svg")
                        }
                    }      
                }
            }
        }
    }
}

footer {
    @include footer;
}