@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  animation: slideUp 1.5s ease forwards 1.5s;
}
@keyframes slideUp {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.loader i {
  font-size: 100px;
  animation: rotate 1.3s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
  height: 113px;
}
header .logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0);
  width: 100%;
  height: 63px;
  font-weight: bold;
  align-content: center;
}
@media screen and (min-width: 1024px) {
  header .location {
    box-shadow: none;
  }
}

.discover {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 70px;
}
.discover h1 {
  font-size: 35px;
  margin: auto;
  margin-bottom: 35px;
}
.discover p {
  font-size: 20px;
  margin: auto;
  margin-bottom: 30px;
}
.discover .explore {
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;
  font-weight: bold;
  width: 55%;
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .discover .explore {
    width: 22%;
  }
}
.discover .explore:hover {
  background: linear-gradient(to top, #a36fe1, #ff98e2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

.function {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .function {
    width: 80%;
  }
}
.function .choose {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .function .choose {
    display: flex;
    justify-content: space-between;
  }
}
.function .choose li {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 72px;
  margin: auto;
  margin-bottom: 35px;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .function .choose li {
    width: 30%;
    margin: 0;
  }
}
.function .choose li .bubble {
  position: relative;
  left: -10px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.function .choose li i {
  position: absolute;
  left: 19%;
}
@media screen and (min-width: 767.98px) {
  .function .choose li i {
    left: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .function .choose li i {
    position: relative;
    left: 8%;
  }
}
.function .choose li p {
  margin: auto;
}
.function .choose li:nth-child(-n+2) i {
  color: #7E7E7E;
}
.function .choose li:last-child i {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 70px 0 80px 0;
}
.restaurants .restaurants__wrapper {
  width: 93%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurants__wrapper {
    width: 80%;
  }
}
.restaurants .restaurants__wrapper h2 {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurants__wrapper .card__line {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
  }
}
.restaurants .restaurants__wrapper .card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurants__wrapper .card {
    width: 46%;
  }
}
.restaurants .restaurants__wrapper .card a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.restaurants .restaurants__wrapper .card a img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurants__wrapper .card a .new {
  position: absolute;
  right: 4vh;
  top: 5vh;
  color: #008766;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 3px;
}
.restaurants .restaurants__wrapper .card a .restaurant_desc {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.restaurants .restaurants__wrapper .card a .restaurant_desc .restaurant_name {
  margin-bottom: 20px;
}
.restaurants .restaurants__wrapper .card a .restaurant_desc .restaurant_name h3 {
  margin-top: 10px;
  margin-bottom: 8px;
}
.restaurants .restaurants__wrapper .card a .restaurant_desc .heart {
  background-image: url("../images/icons/Like-empty.svg");
  height: 25px;
  width: 25px;
  margin-top: 20px;
  transition: background-image 0.3s ease-in-out;
}
.restaurants .restaurants__wrapper .card a .restaurant_desc .heart:hover {
  background-image: url("../images/icons/Like-colored.svg");
}

footer {
  width: 100%;
  background-color: #353535;
  color: #fff;
  padding-bottom: 14px;
  padding-top: 20px;
}
@media screen and (min-width: 1024px) {
  footer {
    padding-bottom: 29px;
    padding-top: 55px;
  }
}
footer .footer__wrapper {
  margin-left: 4%;
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
  }
}
footer .footer__wrapper .footer_logo {
  filter: invert(1);
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper .footer_logo {
    width: 12%;
  }
}
footer .footer__wrapper ul {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
}
footer .footer__wrapper ul li {
  margin-top: 5px;
}
footer .footer__wrapper ul li i {
  margin-right: 10px;
}

/*# sourceMappingURL=index.css.map */
