@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import 'utils/colors';
@import 'utils/button';
@import 'utils/footer';

* {
    font-family: "Roboto", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: auto;
}

header {
    
    .navbar {
        display: flex;
        align-items: center;
        margin-top: 20px;

        i {
            font-size: 20px;
            color: $black;
            position: absolute;
            left: 10px;
            top: 27px;
        }

        &__logo {
            margin: auto;
            margin-bottom: -10px;

            @media screen and (min-width: 767.98px) {
                margin-bottom: 0;              
            }
        }
    }

    .restaurant_photo {
        width: 100%;
        height: 275px;
        margin-top: -47px;
        object-fit: cover;
        position: relative;
        top: 67px;
        z-index: -1;
    }
}

.menu {
    background-color: $clear-grey;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 70px 70px 0 0;

    @media screen and (min-width: 767.98px) {
        width: 70%;
        margin: auto;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 94%;
        margin: auto;

        h1 {
            font-family: "Shrikhand", serif;
        }

        .heart {
            cursor: pointer;
            background-image: url("../images/icons/Like-empty.svg");
            height: 25px;
            width: 26px;
            background-repeat: no-repeat;
            transition: background-image 0.3s ease-in-out;

            @media screen and (min-width: 767.98px) {
                width: 25px;
            }

            &:hover {
                background-image: url("../images/icons/Like-colored.svg")
            }
        }    
    }

    &__content {
        width: 95%;
        margin: auto;       

        h2 {
            margin-top: 30px;
            border-bottom: $tertiary 3px solid;
            width: 60px;
        }

        ul {
            list-style: none;            
        
            .card {
                margin-top: 10px;
                padding: 10px 3% 9px 3%;
                animation: fadeInUp 1.5s ease forwards;
                opacity: 0;
                border-radius: 15px;
                overflow: hidden;
                background: $white;
                box-shadow: 0 0 12px $shadow-grey;
                cursor: pointer;                                     
        
                @keyframes fadeInUp {
                    from {
                        transform: translateY(-20px);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
        
                &__content {
                    width: 100%;
                    font-size: clamp(12px, 2vw, 18px);
                    transition: width 0.3s ease; 
        
                    h3 {
                        max-width: 92%;
                        font-size: 17px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media screen and (min-width: 767.98px) {
                            font-size: 19px;
                        }
                    }

                    &_desc_price {
                        margin-top: 5px;
                        display: flex;
                        justify-content: space-between;

                        .desc {
                            max-width: 87%;
                            font-size: 13px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            @media screen and (min-width: 767.98px) {
                                font-size: 16px;
                            }
                        }
            
                        .price {
                            font-weight: bold;
                        } 
                    }   
                }
        
                .selected {
                    background-image: url("../images/icons/Select-button.svg");
                    background-position: center;
                    height: 100%;
                    width: 0;
                    transition: width 0.3s ease;
                    position: absolute;
                    top: 0;
                    right: -1px;
                }
        
                &:hover .selected {
                    width: 60px;
                }
        
                &:hover .card__content {
                    width: calc(100% - 60px);
                }
            } 
        }

        .card:nth-child(1) {
            animation-delay: 0.1s;
        }

        .card:nth-child(2) {
            animation-delay: 0.3s;
        }

        .card:nth-child(3) {
            animation-delay: 0.5s;
        }

        .card:nth-child(4) {
            animation-delay: 0.7s;
        }
    } 
    
    .order {
        @include button;
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 45px;

        @media screen and (min-width: 767.98px) {
            width: 30%;
        }
    }
}
  
footer  {
    @include footer;
}