@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

// Couleurs

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background-black: #353535;
$dark-grey: #7E7E7E;
$middle-grey: #EAEAEA;
$clear-grey: #F6F6F6;
$white: #fff;
$black: #101010;

// Animation pour l'apparition en décalage des cards

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    font-family: "Roboto", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    
    nav {
        display: flex;
        margin-top: 10px;

        i {
            font-size: 35px;
            color: $black; 
        }

        .logo {
            margin: auto;
            width: 40%;
        }
    }

    .restaurant_photo {
        width: 100%;
        margin-top: 20px;
    }

}

.menu__wrapper {
    position: relative;
    top: -103px;
    background-color: $clear-grey;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 70px 70px 0 0;

    .title__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 94%;
        margin: auto;

        h1 {
            font-family: "Shrikhand", serif;
        }

        .heart {
            cursor: pointer;
            background-image: url("../images/icons/Like-empty.svg");
            height: 25px;
            width: 25px;
            margin-top: 20px;
            transition: background-image 0.3s ease-in-out;

            &:hover {
                background-image: url("../images/icons/Like-colored.svg")
            }
        }    
    }

    .menu {
        width: 95%;
        margin: auto;

        h2 {
            margin-top: 30px;
            border-bottom: $tertiary 3px solid;
            width: 8%;
        }

        ul {
            list-style: none;

            .card {
                cursor: pointer;
                background-color: $white;
                margin-top: 10px;
                border-radius: 15px;
                padding: 10px 3% 10px 3%;
                opacity: 0;
                transform: translateY(20px);
                animation: fadeInUp 0.5s ease forwards;

                .toggle-checkbox {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: pointer;
                }
                
                .card_desc_price {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    position: relative;
                        
                    .price {
                        font-weight: bold;
                        transition: transform 0.5s ease-in-out;
                    }

                    .selected {
                        background-image: url("../images/icons/Select-button.svg");
                        position: absolute;
                        top: -38px;
                        right: -24px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 61px;
                        height: 68px;
                        transform: translateX(100%);
                        transition: transform 0.5s ease; 
                        pointer-events: none;
                        opacity: 0;
                    }
                }

                .toggle-checkbox:checked + .card__wrapper .selected {
                    transform: translateX(0); 
                    opacity: 1;
                }
            
                .toggle-checkbox:checked + .card__wrapper .price {
                    transform: translateX(-50px);
                }

                :nth-child(1) {
                    animation-delay: 0.1s;
                }
                :nth-child(2) {
                    animation-delay: 0.2s;
                }
                :nth-child(3) {
                    animation-delay: 0.3s;
                }
                :nth-child(4) {
                    animation-delay: 0.3s;
                }
            }
        }
    }
    
    .order {
        cursor: pointer;
        background: linear-gradient(to top, $primary, $secondary);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: $white;
        font-weight: bold;
        width: 38%;
        height: 50px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 45px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: linear-gradient(to top, lighten($primary, 5%), lighten($secondary, 5%));
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
        }
    }
}

footer  {
    width: 100%;
    background-color: $background-black;
    color: white;
    padding-bottom: 14px;
    padding-top: 20px;

    .footer__wrapper {
        margin-left: 3%;

        .footer_logo {
            filter: invert(1);
        }

        ul {
            list-style: none;
            
            li {
                margin-top: 5px;
            }
        }
    }
}