@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: auto;
}

header .navbar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
header .navbar i {
  font-size: 20px;
  color: #101010;
  position: absolute;
  left: 10px;
  top: 27px;
}
header .navbar__logo {
  margin: auto;
  margin-bottom: -10px;
}
@media screen and (min-width: 767.98px) {
  header .navbar__logo {
    margin-bottom: 0;
  }
}
header .restaurant_photo {
  width: 100%;
  height: 275px;
  margin-top: -47px;
  object-fit: cover;
  position: relative;
  top: 67px;
  z-index: -1;
}

.menu {
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 50px;
  border-radius: 70px 70px 0 0;
}
@media screen and (min-width: 767.98px) {
  .menu {
    width: 70%;
    margin: auto;
  }
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto;
}
.menu__title h1 {
  font-family: "Shrikhand", serif;
}
.menu__title .heart {
  cursor: pointer;
  background-image: url("../images/icons/Like-empty.svg");
  height: 25px;
  width: 26px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}
@media screen and (min-width: 767.98px) {
  .menu__title .heart {
    width: 25px;
  }
}
.menu__title .heart:hover {
  background-image: url("../images/icons/Like-colored.svg");
}
.menu__content {
  width: 95%;
  margin: auto;
}
.menu__content h2 {
  margin-top: 30px;
  border-bottom: #99E2D0 3px solid;
  width: 60px;
}
.menu__content ul {
  list-style: none;
}
.menu__content ul .card {
  margin-top: 10px;
  padding: 10px 3% 9px 3%;
  animation: fadeInUp 1.5s ease forwards;
  opacity: 0;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 12px #cecece;
  cursor: pointer;
}
@keyframes fadeInUp {
  from {
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__content ul .card__content {
  width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  transition: width 0.3s ease;
}
.menu__content ul .card__content h3 {
  max-width: 92%;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 767.98px) {
  .menu__content ul .card__content h3 {
    font-size: 19px;
  }
}
.menu__content ul .card__content_desc_price {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.menu__content ul .card__content_desc_price .desc {
  max-width: 87%;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 767.98px) {
  .menu__content ul .card__content_desc_price .desc {
    font-size: 16px;
  }
}
.menu__content ul .card__content_desc_price .price {
  font-weight: bold;
}
.menu__content ul .card .selected {
  background-image: url("../images/icons/Select-button.svg");
  background-position: center;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  position: absolute;
  top: 0;
  right: -1px;
}
.menu__content ul .card:hover .selected {
  width: 60px;
}
.menu__content ul .card:hover .card__content {
  width: calc(100% - 60px);
}
.menu__content .card:nth-child(1) {
  animation-delay: 0.1s;
}
.menu__content .card:nth-child(2) {
  animation-delay: 0.3s;
}
.menu__content .card:nth-child(3) {
  animation-delay: 0.5s;
}
.menu__content .card:nth-child(4) {
  animation-delay: 0.7s;
}
.menu .order {
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 45px;
}
.menu .order:hover {
  background: linear-gradient(to top, #a36fe1, #ff98e2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 767.98px) {
  .menu .order {
    width: 30%;
  }
}

footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 14px;
  padding-top: 20px;
}
@media screen and (min-width: 1024px) {
  footer {
    padding-bottom: 29px;
    padding-top: 55px;
  }
}
footer .footer__wrapper {
  margin-left: 4%;
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
  }
}
footer .footer__wrapper__logo {
  filter: invert(1);
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper__logo {
    width: 12%;
  }
}
footer .footer__wrapper ul {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  footer .footer__wrapper ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
}
footer .footer__wrapper ul li {
  margin-top: 5px;
}
footer .footer__wrapper ul li i {
  margin-right: 10px;
}
footer .footer__wrapper ul li a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=restaurant.css.map */
